.container {
  width: 100%;
  text-align: center;
  margin-top: 50px;
}

#player-form input {
  margin: 10px;
  padding: 8px;
}

#board {
  margin: 20px auto;
  width: 300px;
  display: grid;
  grid-template-columns: repeat(3, 100px);
}

.cell {
  width: 100px;
  height: 100px;
  border: 2px solid black;
  font-size: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.message {
  font-size: 22px;
  margin-bottom: 15px;
}
