body {
    font-family: "Poppins", sans-serif;
    text-align: center;
    background: white;
}

.container {
    width: 100%;
    margin-top: 40px;
}

.title {
    font-family: 'Brush Script MT', cursive;
    font-size: 50px;
}

.input-section input {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 250px;
}

button {
    padding: 12px 25px;
    font-size: 20px;
    cursor: pointer;
    margin-top: 20px;
}

.board {
    width: 360px;
    height: 360px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(3, 120px);
    grid-template-rows: repeat(3, 120px);
}

.cell {
    border: 2px solid black;
    background: pink;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 65px;
    cursor: pointer;
}

.winner {
    background: purple !important;
    color: white;
}

.message {
    font-size: 22px;
    margin-bottom: 15px;
}
